@import "tailwindcss";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* 3. Base font family */
html {
  font-family: 'poppins';
}

:root {
  --background: #2c4c32;
  --text-main: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {

}

body {
  background: #000;
  color: var(--foreground);
}
